<div class="main yoyos-new">
  <div class="container">
    <h1 class="form-heading">商品情報の編集</h1>
    <div class="form">
      <div class="form-body">
        <!-- エラーメッセージ配列-->
        <% @yoyo.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
       
        <%= form_tag("/yoyos/#{@yoyo.id}/update", {multipart: true}) do %>
          <p>商品名</p>
          <input name="name" value="<%= @yoyo.name %>">
          <p>商品画像</p>
          <input name="image" type="file">
          <p>説明</p>
          <textarea name="detail"><%= @yoyo.detail %></textarea>
          <p>価格(¥)</p>
          <input name="price" value="<%= @yoyo.price %>">
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>